.navMenuContainer {
    box-sizing: border-box;
    padding: 25px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: aquamarine;
}

.navMenu {
    display: flex;
    width: 30%;
    list-style-type: none;
    justify-content: space-between;
}

.navMenu li {
    margin: auto;
    font-size: 1.1em;
    font-weight: bold;
}

.navMenu li a {
    text-decoration: none;
    color: #000000;
}
